@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to To-Dos</h1>
    <p>This appllication enables you to keep track of your tasks.</p>
</div>
