@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to To-Dos</h1>
    <p>This appllication enables you to keep track of your tasks.</p>
    <div style='font-size:50px;' class="arrow bounce">&#11167;</div>
    <button class="btn btn-success m-0" >
        <a class="nav-link text-dark" asp-page="/Todos/Index">Tasks</a>
    </button>
</div>
